.main-div1,.main-div2{
    z-index: 1;
    margin-left: 150px;
    margin-top:80px;
    height:310px;
    gap: 20px;
    display:flex;
    flex-direction: row;
}
.main-div2{
    margin-top:40px;
    flex:1;    
}
.div2,.div4,.div6,.div8{
    flex:1;
}
.div1,.div3,.div5,.div7{
    flex:1;
}
.thumbnail-row1,.thumbnail-row2,.thumbnail-row3,.thumbnail-row4,.thumbnail-row5,.thumbnail-row6,.thumbnail-row7,.thumbnail-row8{
    position:relative;
}
.time1,.time2,.time3,.time4,.time5,.time6,.time7,.time8{
    font-family: roboto,Arial;
    bottom: 10px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 13px;
    background-color: black;
    color:white;
    position:absolute;
    right:20px;

}
.left-fixed-bar,p{
    font-size: 15px;
}
.home,.explore,.subs,.originals,.music,.library{
    height:30px;
}
.sidebar-link{
    z-index:20;
    flex-direction: column;
    height: 110px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.grid-box-1,.gid-box-2,.grid-box-2,.grid-box-3,.grid-box-4,.grid-box-5,.grid-box-6{
    height:300px;
}
.left-fixed-bar{
    width:150px;
    bottom:0;
    left:0;
    top:70px;
    position:fixed;
}
.top-bar{
    display: flex;
    flex-direction: row;
    top:0;
    left:0;
    right:0;
    position:fixed;
    height:60px;
    z-index:10;
}
.bell-notify{
    position: relative;
}

.notify-count{
    font-size:13px;
    position:absolute;
    right:12px;
    margin:5px;
    text-align: center;
    top:0px;
    background-color: red;
    width:14px;
    height:14px;
    border-radius:7px;
    color:white;
}
.left-topbar{
    flex:1;
}
.mid-topbar{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-topbar{
    align-items: center;
    display: flex;
    justify-content: end;
    flex:1;
}
.hamburgur-icon{
    height:25px;
    margin-top:18px;
    margin-left:25px;
}
.Search-box{
    height:38px;
    width:550px;
    font-size:16px;
    border:1px rgb(203, 202, 202) solid;
    box-shadow:5 5 100px rgba(0,0,0,0.1);
    padding-left: 10px;
}
.Search-box:active{
    flex-shrink:10;
    height:38px;
    width:550px;
    font-size:16px;
    border:1px rgb(203, 202, 202) solid;
    box-shadow:5 5 100px rgba(0,0,0,0.1);
    padding-left: 10px;
}
.search-icon{
    height:20px;
}
.voice-icon{
    height:20px;
}
.button1{
    position: relative;
    height:41px;
    width:60px;
    border:1px gray ; 
}
.button2{
    position:relative;
    margin-left:10px;
    height:30px;
    border-radius:15px;
    border:none;
    background-color: rgb(194, 194, 194);
}
.camera-icon,.grid-icon,.bell-icon{
    margin-right:20px;
    height:30px;
}
.youtube-icon{
    height:25px;
    margin-left:20px;
}
.pfp{
    border-radius:20px;
    height:40px;
    margin-right:20px;
}
.thumbnail{
    height:200px;
    width:310px;
}
.icon{
    height:40px;
    width:40px;
    border-radius:20px;
    margin-top:10px;

}
p{
    margin-top:10px;
}
.button1 .hover-search {
    position:absolute;
    background-color: black;
    color:white;
    opacity:0;
    bottom:-30px;
    padding: 5px;
    border-radius:2px;
    pointer-events: none;
}
.button1:hover .hover-search{
    opacity:0.55; 
    transition:opacity 0.5s;  
}
.button2 .hover-voice{
    position:absolute;
    width: 150px;
    bottom:-30px;
    right:1px;
    left:-50px;
    background-color: black;
    color:white;
    opacity:0;
    pointer-events:none;
}
.button2:hover .hover-voice{
    opacity: 0.55;
    padding: 5px;
    transition: opacity 0.5s;
}
